*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	align-items: center;
}

body {
	background: linear-gradient(to bottom, #000, #000000de, #000000de, #000000d3),
		url(../assets/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	align-items: center;
	text-align: center;
}

main {
	color: white;
}


