.py {
	margin-block: 2.5rem;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.hidden {
	display: none;
}

.container {
	--max-width: 23.75rem;
	--px: 2rem;
	align-items: center;
	margin-inline: auto;
	width: min(var(--max-width), 100% - var(--px) * 2);
}
